@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: oklch(97% 0 0);
    --font-sans: var(--font-inter), var(--font-line-seed-jp), sans-serif;
    --page-max-w: 64rem;
}

html,
body {
    background: var(--background);
    color: var(--foreground);
    fill: var(--foreground);
    font-family: var(--font-sans);
}

.min-h-dvh {
    min-height: 100vh;
    min-height: 100dvh;
}

.h-dvh {
    height: 100vh;
    height: 100dvh;
}

@layer utilities {
    .page-container {
        @apply mx-auto w-full max-w-(--page-max-w) p-6;
    }
}
